.toggle-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggle-group > p {
    margin: 0 1px;
}

    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 18px;
    left: 4px;
    bottom: 2px;
    background: lightgrey;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #202020;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.rounded {
    border-radius: 5px;
    border: #202020 solid 2px;
}

.slider.rounded:before {
    border-radius: 5px;
}