.window {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 400px;
    height: 250px;
    min-height: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5), -1px 1px 4px rgba(0,0,0,0.5);
    background: #fff;
    user-select: none;
    z-index: 999;
}

.window-content {
    background: #fff;
    color: #000;
    height: calc(100% - 30px);
    font-family: monospace;
    padding: 5px;
    margin: 5px;
    overflow-y: auto;
    box-sizing: content-box;
    flex-grow: 1;
}

.window-top {
    cursor: move;
    height: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    background-color: #202020;
    color: #f0f0f0;
}

.window-top-left {
    float: left;
}

.square {
    float: right;
    height: 20px;
    width: 20px;
    border: none;
    margin-right: 6px;
    box-shadow: 1px 1px 2px #000;
    position: relative;
}

.square:before {
    content: "X";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.exit {
    background-color: #202020;
    color: #f0f0f0;
}

.exit:hover {
    cursor: pointer;
    background-color: red;
}