.project-list-container {
	width: 100%;
	display: table;
	padding-top: 1rem;
}

.header {
	font-size: 1.2rem;
	/* background-color: red; */
	border-bottom: 2px solid #f7f7f7;
}

.headerCell {
	text-align: justify;
	/* border-bottom: 1px solid #f7f7f7; */
}

.container h3 {
	color: #f7f7f7;
	font-weight: 400;
	padding-top: 1rem;
}
