.exportModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 10000;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5), -1px 1px 4px rgba(0,0,0,0.5);
    width: auto;
    min-width: 200px;
    user-select: none;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}

.modalMainInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoButton {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    border: 2px solid;
    cursor: pointer;
}

.modalParaDiv {
}

.modalPara {
}

.modalBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modalInput {
    width: 10%;
    flex-grow: 0;
    margin-right: auto;
    border-radius: 10px;
    font-size: 18px;

}


.modalButtonDiv {
    flex-grow: 0;
    margin-left: auto;
}

.modalButton {
    margin-left: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.modalButton:hover {
    cursor: pointer;
    background-color: lightcyan;
}