:root {
    --hue: 0;
    --saturation: 16.666;
    --brightness: 50;
    --contrast: 0;
    --mask: 0;
    --invert-first: 0;
    --invert-last: 100;
}

.filterWindow {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: fit-content;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5), -1px 1px 4px rgba(0,0,0,0.5);
    background: #fff;
    user-select: none;
    z-index: 998;
}
/*
Work with font and size here!
Look for placement of toggle box
 */
.filterWindowBody {
    background: #fff;
    color: #000;
    height: calc(100% - 30px);
    font-size: 15px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.filterWindowBody .form-group:nth-child(4),
.filterWindowBody .form-group:nth-child(5) {
    margin-bottom: 10px;
}

.filterWindowHeader {
    cursor: move;
    height: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    background-color: #202020;
    color: #f0f0f0;
}

.filterWindowTitle  {
    float: left;
}

.square {
    float: right;
    height: 20px;
    width: 20px;
    border: none;
    margin-right: 6px;
    box-shadow: 1px 1px 2px #000;
    position: relative;
}

.square:before {
    content: "X";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.exit {
    background-color: #202020;
    color: #f0f0f0;
}

.exit:hover {
    cursor: pointer;
    background-color: red;
}

.bottomButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottomButtons button {
    width: fit-content;
    align-self: center;
    border-radius: 5px;
}

.bottomButtons button:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.filterWindowBody > div > input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;

}
.filterWindowBody > div > input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6.5px;
    height: 20px;
    width: 20px;
    border-radius: 1000px;
    border: 2px solid black;
}

.filterWindowBody > div > input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 100px;
    border: black solid 2px;
}

#filter-hue input[type='range']::-webkit-slider-thumb {
    background-color: hsl(var(--hue), 100%, 50%);
}

#filter-hue input[type='range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(
        90deg,
        hsl(360, 100%, 50%),
        hsl(270, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(90, 100%, 50%),
        hsl(0, 100%, 50%)
    );
}

#filter-saturation input[type='range']::-webkit-slider-thumb {
    background-color: hsl(var(--hue), calc(var(--saturation)*1%), 50%);
}

#filter-saturation input[type='range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(
        90deg,
        hsl(var(--hue), 0%, 50%),
        hsl(var(--hue), 40%, 50%),
        hsl(var(--hue), 60%, 50%),
        hsl(var(--hue), 100%, 50%)
    )
}

#filter-brightness input[type='range']::-webkit-slider-thumb {
    background-color: hsl(0, 0%, calc(var(--brightness)*1%));
}

#filter-brightness input[type='range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(
        90deg,
        hsl(0, 0%, calc(var(--invert-first)*1%)),
        hsl(0, 0%, calc(var(--invert-last)*1%))
    )
}

#filter-contrast input[type='range']::-webkit-slider-thumb {
    background-color: grey;
}

#filter-contrast input[type='range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(
        90deg,
        grey 20%,
        hsl(var(--hue), 100%, 50%),
        black 85%,
        black
    );
}

#filter-mask input[type='range']::-webkit-slider-thumb {
    background-color: grey;
}

#filter-mask input[type='range']::-webkit-slider-runnable-track {
    background-color: grey;
}





