.navbar {
	position: absolute;
	display: flex;
	z-index: 100;
	justify-content: space-between;
	padding-left: 1rem;
	align-items: center;
	gap: 0.01rem;
	background-color: #202020;
	color: #f0f0f0;
	width: 100%;
	text-align: center;
	height: 50px;
}

.nav-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.filter-form {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.nav-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 2rem;
	gap: 1rem;
	width: 20%;
}

.nav-item-right {
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	color: #abb2bf;
}

.nav-left p,
.nav-left a,
.nav-left div,
.nav-left > form > label {
	width: auto;
	text-align: left;
	color: #abb2bf;
	transition: 100ms ease-in;
	background-color: #202020;
	cursor: pointer;
	text-decoration: none;
	border-radius: 6px;
	padding-left: 12px;
	padding-right: 12px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.nav-left p:hover,
.nav-left a:hover,
.nav-left div:hover{
	background-color: #323842;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
	padding-right: 100px;
}

.filebutton {
	position: absolute;
}

.fileDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nav-left .dropdown {
	position: absolute;
	top: 100%;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 0;
}
.dropdown:hover {
	background-color: #f9f9f9;
}

.dropdown ul {
	width: 100%;
	list-style-type: none;
	background-color: #f9f9f9;
	padding: 0;
	margin: 0;
}

.dropdown li {
	width: inherit;
	padding: 8px 12px;
	cursor: pointer;
	color: black;
}

.nav-left .dropdown li:hover {
	background-color: #ddd;
}

#scale {
	width: 40px;
}