.navbar {
	position: absolute;
	display: flex;
	z-index: 100;
	justify-content: space-between;
	padding-left: 1rem;
	align-items: center;
	gap: 0.01rem;
	background-color: #202020;
	color: #f0f0f0;
	width: 100%;
	text-align: center;
	height: 50px;
}

/* The left side, and most part of the nav bar*/
.nav-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.filter-form {
	display: flex;
	flex-direction: row;
	gap: 0.3rem;
	width: 0;
}

/* The right part of the nav bar (that contains the "loading images.." text) */
.nav-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 2rem;
	gap: 1rem;
	width: 20%;
}

/* The "loading images.." text  */
.nav-item-right {
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	color: #abb2bf;
}


.nav-left div {
	width: auto;
	text-align: left;
	color: #abb2bf;
	transition: 100ms ease-in;
	text-decoration: none;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.fileDiv,
.toolsDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 12px;
}

.navButton {
	width: auto;
	color: #f0f0f0;
	transition: 100ms ease-in;
	background-color: #202020;
	cursor: pointer;
	border-radius: 6px;
	padding-left: 12px;
	padding-right: 12px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	border: none;
}

.navButton:hover {
	background-color: #323842;
}

.dropdown {
	position: absolute;
	top: 100%;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5), -1px 1px 4px rgba(0,0,0,0.5);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: white;

}

.dropdown ul {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dropdown li {
	display: flex;
	padding: 0;
	margin: 0;
}

.dropdown li:last-child {
	margin-bottom: 5px;
}

.dropdownButton {
	text-align: left;
	flex: 1;
	white-space: nowrap;
	border: none;
	padding-block: 2px;
	background-color: white;
}

.dropdownButton:hover {
	background-color: lightgrey;
	cursor: pointer;
}

.undoRedo {
	font-size: larger;
	font-weight: bold;
}
